<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tshering Gyeltshen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
  

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/project-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/43181031.jpg" alt="Image"/></a></div>
          <div class="h2 title">Tshering Gyeltshen</div>
          <p class="category text-white">UX Designer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='gyeltshen.pdf') }}" 
          data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/profile.php?id=100080644735101" rel="tooltip" title="Follow me on Facebook">
              <i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://instagram.com/12190095.gcit?igshid=YmMyMTA2M2Y=" rel="tooltip" 
              title="Follow me on Instagram"><i class="fa fa-instagram"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://gitlab.com/Gyeltshen_10" rel="tooltip" title="Follow me on Gitlab">
                <i class="fa fa-gitlab"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/tshering-gyeltshen-216874239/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Data Scientist and UX Designer who likes to solve problems using code. Proficient in the field of statistics, specifically Machine Learning, Deep learning and Artificial Intelligence. Other interests include building Computer Vision (CNN) and Data Visualization. I am passionate about designing beautiful, intuitive interfaces that help people be more productive. I work with clients to create innovative and effective user interfaces that help them get the most out of their products. </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <!-- <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">24</div>
            </div> -->
            <div class="row mt-3">
              <div class="col-sm-4"><i class="fa fa-envelope"></i><strong class="text-uppercase">       Email:</strong></div>
              <div class="col-sm-8">tsheringgyeltshentt1999@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><i class="fa fa-phone"></i><strong class="text-uppercase">        Phone:</strong></div>
              <div class="col-sm-8">+97517980119</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><i class="fa fa-address-card-o"></i><strong class="text-uppercase">       Address:</strong></div>
              <div class="col-sm-8">Gyelpozhing College of Information Technology, Mongar, Bhutan</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><i class="fa fa-language"></i><strong class="text-uppercase">       Language:</strong></div>
              <div class="col-sm-8">English, Dzongkha</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills   <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <span class="sr-only">Loading...</span></div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <ul style="display: flex; flex-direction:column; flex-wrap: wrap;">
        <li><b>UX Designer:</b>  Interaction design, Visual Design</li><br><br>
        <div style="display: flex; flex-wrap: wrap;">
          <div id="left" class="cc-profile-image"><a href="https://www.uxbooth.com/articles/complete-beginners-guide-to-interaction-design/" target="_blank"><img src="static/images/interaction.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.interaction-design.org/literature/topics/visual-design#:~:text=Visual%20design%20aims%20to%20improve,user%20experience%20and%20drive%20conversion." target="_blank"><img src="static/images/visual.png" alt="Image"/></a>
          </div>
        </div>
        <li><b>Programming Languages:  </b>Python, Java, C, C++</li><br><br>
        <div style="display: flex; flex-wrap: wrap;">
          <div id="left" class="cc-profile-image"><a href="https://www.python.org/" target="_blank"><img src="static/images/python.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.w3schools.com/java/" target="_blank"><img src="static/images/java.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.w3schools.com/c/index.php" target="_blank"><img src="static/images/c.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.w3schools.com/cpp/cpp_intro.asp" target="_blank"><img src="static/images/c++.png" alt="Image"/></a>
          </div>
        </div>
        <li><b>Tools:</b>  Scikit-Learn, NumPy, Pandas, Matplotlib, OpenCV, Keras, Tensorflow</li><br><br>
        <div style="display: flex; flex-wrap: wrap;">
          <div id="left" class="cc-profile-image"><a href="https://scikit-learn.org/stable/" target="_blank"><img src="static/images/scii.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://numpy.org/" target="_blank"><img src="static/images/np.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://pandas.pydata.org/" target="_blank"><img src="static/images/pandas.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://keras.io/" target="_blank"><img src="static/images/keras.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.tensorflow.org/?gclid=EAIaIQobChMIydT2npzE-wIVwoJLBR1KjwmBEAAYASAAEgJ10vD_BwE" target="_blank"><img src="static/images/tensor.png" alt="Image"/></a>
          </div>
        </div>
        <li><b>Database Management Systems:</b>  MongoDB, Firebase Realtime Database</li><br><br>
        <div style="display: flex; flex-wrap: wrap;">
          <div id="left" class="cc-profile-image"><a href="https://www.mongodb.com/home" target="_blank"><img src="static/images/mon.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://firebase.google.com/products/realtime-database?gclid=EAIaIQobChMIzcPN-5zE-wIVfJVLBR229QGeEAAYASAAEgITjPD_BwE&gclsrc=aw.ds" target="_blank"><img src="static/images/real.png" alt="Image"/></a>
          </div>
        </div>
        <li><b>Internet Technologies:</b>  Flask, HTML5, CSS, XML</li>
        <div style="display: flex; flex-wrap: wrap;">
          <div id="middle" class="cc-profile-image"><a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank"><img src="static/images/flask.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.w3schools.com/html/" target="_blank"><img src="static/images/html.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.w3schools.com/css/" target="_blank"><img src="static/images/css.png" alt="Image"/></a>
          </div>
          <div id="middle" class="cc-profile-image"><a href="https://www.w3schools.com/xml/xml_whatis.asp" target="_blank"><img src="static/images/xml.png" alt="Image"/></a>
          </div>
        </div>
        </ul>
      </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
     
    <div class="h4 text-center mb-4 title">Portfolio   <i class="fa fa-trophy"></i></div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500" id="portfolio">
          <div class="card-body cc-experience-header">
            <p>August 2022 - November 2022</p>
            <div class="h5">Food Delivery App</div>
            <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mobile App Design</div>
            <p>
              <ul>
                <li>
                  It is Consumer Friendly With the option to order their meals from a mobile app, they can easily place an order when they are stuck in traffic or on the way to pick up the kids. Mobile apps provide the freedom to order from any place at any time without pausing everything and making a call to the restaurant.</li>  
                <li>Features: <ul>
                  <li>Search Food</li>
                  <li>Place order</li>
                  <li>Make online payment</li>
                </ul></li>
                <li>Tools used: <ul>
                  <li>Adobe XD</li>
                  <li>Adobe Photoshop</li>
                  <li>Figma</li>
                  <div style="display: flex; flex-wrap: wrap;">
                    <div id="left" class="cc-profile-image"><a href="https://www.adobe.com/products/xd.html" target="_blank"><img src="static/images/adobe.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://www.techopedia.com/definition/32364/adobe-photoshop" target="_blank"><img src="static/images/photo.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://www.theme-junkie.com/what-is-figma/" target="_blank"><img src="static/images/figma.png" alt="Image"/></a>
                    </div>
                  </div>
                </ul></li>
                <li><p><a href="https://www.behance.net/gallery/157434259/Zhaygozhhay%28food-delivery-app%29" target="_blank">View Case Study</a></p></li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2022 - November 2022</p>
            <div class="h5">Farmer's Cloud</div>
            <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mobile App Design</div>
            <p>
              <ul>
                <li>Farmer's Cloud is a mobile app design were farmers can purchase high quality seeds, fertilizers, insecticides, and other agricultural products at a low cost and have them delivered to their doorstep.</li>  
                <li>Features: <ul>
                  <li>Search farm product</li>
                  <li>Purchase Items </li>
                  <li>Learn farming practices</li>
                </ul></li>
                <li>Tools used: <ul>
                  <li>Adobe XD</li>
                  <li>Adobe Photoshop</li>
                  <li>Figma</li>
                  <li>Behance</li>
                  <div style="display: flex; flex-wrap: wrap;">
                    <div id="left" class="cc-profile-image"><a href="https://www.adobe.com/products/xd.html" target="_blank"><img src="static/images/adobe.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://www.techopedia.com/definition/32364/adobe-photoshop" target="_blank"><img src="static/images/photo.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://www.theme-junkie.com/what-is-figma/" target="_blank"><img src="static/images/figma.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://help.behance.net/hc/en-us/articles/204483894-Guide-Intro-to-Behance" target="_blank"><img src="static/images/behance.png" alt="Image"/></a>
                    </div>
                  </div>
                </ul></li>
                <li><p><a href="https://www.behance.net/gallery/157471555/Farmers-Cloud" target="_blank">View Case Study</a></p></li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2022 - November 2022</p>
            <div class="h5">Taxi Booking</div>
            <i class="fa fa-desktop fa-5x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Website Design</div>
            <p>
              <ul>
                <li>Taxi Booking is a website design were passenger can book a desired taxi in a disired time and make payment from the website. </li>  
                <li>Features: <ul>
                  <li>Locate destination</li>
                  <li>Book desired Taxi </li>
                  <li>Make Payment</li>
                  <li>Cancel Booking</li>
                </ul></li>
                <li>Tools used: <ul>
                  <li>Adobe XD</li>
                  <li>Adobe Photoshop</li>
                  <li>Figma</li>
                  <div style="display: flex; flex-wrap: wrap;">
                    <div id="left" class="cc-profile-image"><a href="https://www.adobe.com/products/xd.html" target="_blank"><img src="static/images/adobe.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://www.techopedia.com/definition/32364/adobe-photoshop" target="_blank"><img src="static/images/photo.png" alt="Image"/></a>
                    </div>
                    <div id="middle" class="cc-profile-image"><a href="https://www.theme-junkie.com/what-is-figma/" target="_blank"><img src="static/images/figma.png" alt="Image"/></a>
                    </div>
                  </div>
                </ul></li>
                <li><p><a href="https://www.behance.net/gallery/157482815/Taxi-Booking" target="_blank">View Case Study</a></p></li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education   <i class="fa fa-graduation-cap"></i></div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2007-2018</p>
            <div class="h5">School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <!-- <div class="h5">M.S. in Information Systems</div> -->
            <p class="category">Mongar, Bhutan</p>
            <p>
              <b>Konbar Primary School</b><br>
              <ul>
              <li>PP - VI</li>
            </ul>
            <b>Yadi Higher Secondary School</b><br>
              <ul>
              <li>VII - XII</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - 2023</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bacholar of Science in Information Technology</div>
            <p class="category">Gyalpozhing College of Information Technology, Mongar</p>
            <p>
              <b>Projects:</b><br>
              <ul>
              <li><a href="https://classificationofreligiousitem.herokuapp.com/" target="_blank">classification of religious item</a></li>
              <li><a href="https://gcit-result-prediction.herokuapp.com/" target="_blank" id="linkcolor">Semester Result Prediction</a></li>
              <li><a href="https://gcit-result-analysis.herokuapp.com/"id="linkcolor" target="_blank">Semester Result Analysis</a></li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    

<div class="section" id="contact">
  <div class="cc-contact-information"> 
    <!-- style="background-image: url('static/images/map.JPG')" -->
    <!-- <div class="mapouter">
      <div class="gmap_canvas"><style >.gmap_canvas{text-align: center;}</style>
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Gyalpozhing%20College%20of%20Information%20Technology&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

        </iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:center;height:500px;width:600px;}
        </style><a href="https://www.embedgooglemap.net">google maps on web page</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div> -->
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me   <i class="fa fa-address-book"></i></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/f/mnqrrdjg" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="Name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="Email" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="Message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                    
                            <button class="btn btn-primary" type="submit">Send</button>
                        
                         
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Gyalpozhing, Mongar, Bhutan</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+97517980119</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>tsheringgteltshentt1999@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" target="_blank" href="https://www.facebook.com/profile.php?id=100080644735101"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-instagram btn btn-link " target="_blank" href="https://instagram.com/12190095.gcit?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a><a class="cc-gitlab btn btn-link" target="_blank" href="https://gitlab.com/Gyeltshen_10"><i class="fa fa-gitlab fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/tshering-gyeltshen-216874239/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Tshering Gyeltshen</div>
      <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>